body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

body {
    background-color: #1B1725;
    color: white;
    font-family: "Roboto Condensed", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.icons {
    display: flex;
    margin-top: 60px;
    background-color: #191D32;
    justify-content: space-evenly;
    color: white;
    position: relative;
}

.icons h2,
a {
    text-decoration: none;
    color: white;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.pull-up-bar-image {
    display: flex;
    justify-content: end;
}

#text-box {
    background-color: #191D32;
    display: flex;
    width: 100%;
}

#text-box label {
    display: flex;
    flex-direction: column;
}

#text-box form {
    display: flex;
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    gap: 22px;
    flex-direction: column;
}

.main-container {
    display: flex;
    padding: 20px;
    gap: 20px;
    flex: 1;
}

.icons a {
    display: flex;
    justify-content: center;
    position: relative;
}

.icons a::after {
    content: "";
    width: 40px;
    height: 40px;
    background-color: #191D32;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 58px;
    margin: 0 auto;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    opacity: 0;
}

body#register .icons a#register-link::after,
body#equipment .icons a#equipment-link::after,
body#contact-us .icons a#contact-link::after,
body#supplements .icons a#supplements-link::after {
    opacity: 1;
}

.image-of-supplements {
    margin-top: 46px;
}

body#supplements .icons::after {
    content: "";
    width: 100%;
    height: 32px;
    background-color: #191D32;
    position: absolute;
    top: 89px;
}

.register-title {
    display: flex;
    justify-content: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
}

.submit:hover {
    background-color: #DE0707;
    color: white;
}

.submit {
    font-weight: 600;
    border: none;
    margin-top: 18px;
}

#text-box input {
    border: none;
}